* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body > form {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 800px;
    border: 1px solid lightgray;
}

h1 {
    width: 100%;
    text-align: center;
}

#chat {
    flex-grow: 1;
    max-height: calc(100% - 33px);
    padding: 20px;
    overflow: auto;
}

.textBoxWrapper {
    display: flex;
    min-height: 33px;
    padding-top: 1px;
}

.textBoxWrapper > * {
    flex-grow: 1;
}